.ListItem {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sortButton {
    width: 300px;
}

.filterButton {
    width: 200px;
}

.filterButton2 {
    width: 150px;
}

.filterForm {
    width: 400px;
}
